@use 'vuetify';
@import '@mdi/font/css/materialdesignicons.css';

html {
	overflow: hidden;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #575757 #1e1e1e;
}

.v-card-subtitle {
	white-space: normal !important;
}
